body {
    font-family: 'Oswald', sans-serif;
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 90px;
}

.Peter {
    color: orange;
}

.first-part {
    display: flex;
}

.first-width {

    padding-left: 100px;
}

.second-width {
    width: 50%;
    padding-right: 10px;
}

.second-width img {
    width: 100%;
}

p {
    font-size: 20px;
}

.anchor {
    text-decoration: none;
    background-image: linear-gradient(red, yellow);
    padding: 20px 35px;
    border-radius: 25px;
    font-weight: 400;
    color: aliceblue;

}

.about-me {
    display: flex;
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-position: center;


}

.about-me img {
    width: 100%;
}

.ladies {
    width: 50%;
    padding: 100px;
}

.ladies img {
    width: 70%;
}

h2 {
    font-size: 40px;
}

#second-para {
    width: 50%;
    padding-bottom: 20%;
    font-size: 30px;
}